body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:693px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9 {
  position:absolute;
  left:143px;
  top:72px;
  width:550px;
  height:303px;
  overflow:hidden;
}
#u9_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:303px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:303px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:303px;
}
#u11 {
  position:absolute;
  left:2px;
  top:144px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:303px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:303px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:303px;
}
#u13 {
  position:absolute;
  left:2px;
  top:144px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:303px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:303px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:303px;
}
#u15 {
  position:absolute;
  left:2px;
  top:144px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:303px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:303px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:303px;
}
#u17 {
  position:absolute;
  left:2px;
  top:144px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:303px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:303px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:303px;
}
#u19 {
  position:absolute;
  left:2px;
  top:144px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:414px;
  top:559px;
}
#u20_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u20_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u22 {
  position:absolute;
  left:128px;
  top:0px;
  width:15px;
  height:15px;
}
#u22_img.selected {
}
#u22.selected {
}
#u23 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u24 {
  position:absolute;
  left:96px;
  top:0px;
  width:15px;
  height:15px;
}
#u24_img.selected {
}
#u24.selected {
}
#u25 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u26 {
  position:absolute;
  left:64px;
  top:0px;
  width:15px;
  height:15px;
}
#u26_img.selected {
}
#u26.selected {
}
#u27 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u28 {
  position:absolute;
  left:32px;
  top:0px;
  width:15px;
  height:15px;
}
#u28_img.selected {
}
#u28.selected {
}
#u29 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u30_img.selected {
}
#u30.selected {
}
#u31 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
